<!--
 * @Description: 
 * @Version: 1.0
 * @Autor: Ambition
 * @Date: 2022-04-10 20:20:39
 * @LastEditors: Ambition
 * @LastEditTime: 2022-04-10 22:32:56
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson18</title>
    <style>
       
    </style>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
</body>
<script>
    // watch 侦听器
    // watchEffect 侦听器,偏向于 effect
    const app = Vue.createApp({
        setup(){
            const { reactive,watch,toRefs,watchEffect } = Vue;
            const nameObj = reactive({name:"dell",age:11});
            // 具备一定的惰性 lazy
            // 参数可以拿到原始和新值
            // 不能直接写nameObj.name
            // 可以侦听多个数据的变化，用一个侦听器承载
            // watch(() => nameObj.name,(newVal,oldVal)=>{
            //     console.log(newVal,oldVal);
            // });
            // watch(nameObj,(newVal,oldVal)=>{
            //     console.log(newVal,oldVal);
            // });
            watch([() => nameObj.name,() => nameObj.age],([newName,newAge],[oldName,oldAge])=>{
                console.log(newName,oldName,"---",newAge,oldAge);
            });

            // 立即执行，没有惰性的 immediate
            // 会自动检测内部代码是否有依赖，如果没有，则不会执行
            // 不需要传递侦听的内容，自动感知依赖 不需要传递很多参数，只需要一个回调函数
            // watchEffect 不能获取之前的值
            watchEffect(()=>{
                // console.log("abc");
                console.log(nameObj.name);
                console.log(nameObj.age);
            });

            const { name,age } = toRefs(nameObj);
            return {
                name,age
            };
        },
        template:`
            <div>
                Name: <input v-model="name">
            </div>
            <div>
                Name is {{name}}
            </div>
            <div>
                Age: <input v-model="age">
            </div>
            <div>
                Age is {{age}}
            </div>
        `,
    });
    
    const vm = app.mount('#root');
</script>
</html>