<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson14</title>
</head>
<script src="https://unpkg.com/vue@next"></script>
<body>
    <div id="root"></div>
</body>
<script>
    // input ,textarea
    // checkbox 需要使用数组来接受 单个和多个的用法 radio 需要使用字符串接受
    const app = Vue.createApp({
        data() {
            return {
                message: [],
                message1: ''
            }
        },
        template:`
        <div>
            {{message}}
            jack <input type="checkbox" v-model="message" value="jack"/> 
            dell <input type="checkbox" v-model="message" value="dell"/> 
            mark <input type="checkbox" v-model="message" value="mark"/> 
            <hr>
            {{message1}}
            jack <input type="radio" v-model="message1" value="jack"/> 
            dell <input type="radio" v-model="message1" value="dell"/> 
            mark <input type="radio" v-model="message1" value="mark"/> 
        </div>
        `
    });
    const vm = app.mount('#root');
</script>
</html>